In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv("../processed_data/data.csv")
data.head(1)

,source,id,price,area,rooms,floor,storeys,bathroom_count,new_building,F_Furniture,...,SL_baghramyan_subway,SL_shengavit_subway,L_pharmacy,L_atm,L_parking,L_clinic,L_place_of_worship,L_university,L_kindergarten,L_hospital
0,bars,4-3-1430,130000.0,60.5,2.0,3.0,13.0,1.0,1,0,...,867,6157,1,5,2,1,0,0,0,0

In [2]:
desc = data.describe()
categorical = (desc.loc["min", :] == 0) & (desc.loc["max", :] == 1 )
categorical = categorical[categorical == True]
categorical = list(categorical.index)
categorical

['new_building',
 'F_Furniture',
 'F_Security',
 'F_Air Conditioner',
 'F_Balcony',
 'F_Heating System',
 'F_Internet',
 'F_Elevator',
 'building_type_Monolit',
 'building_type_Panel',
 'building_type_Stone',
 'condition_Good Condition',
 'condition_Needs Renovation/Repair',
 'condition_New/Excellent Condition',
 'L_pharmacy',
 'L_clinic',
 'L_place_of_worship',
 'L_university',
 'L_kindergarten',
 'L_hospital']

In [3]:
amenities = [col for col in data.columns if col.startswith("L_")]
amenities

['L_pharmacy',
 'L_atm',
 'L_parking',
 'L_clinic',
 'L_place_of_worship',
 'L_university',
 'L_kindergarten',
 'L_hospital']

In [16]:
scalable_data = data.drop(columns = categorical).select_dtypes(exclude=['object'])
means = scalable_data.mean()
stds = scalable_data.std()
print(means, stds)
print(scalable_data.columns)

scalable_data = (scalable_data - means) / stds
for col in scalable_data:
    data[col] = scalable_data[col]

price                   1.336115e-16
area                    8.541023e-17
rooms                  -1.700510e-16
floor                  -5.463177e-17
storeys                -8.351680e-16
bathroom_count         -2.895374e-16
SL_opera               -3.469172e-16
SL_zvartnoc            -1.257520e-16
SL_central_cemetery     8.793846e-19
SL_baghramyan_subway    9.409415e-17
SL_shengavit_subway    -4.086940e-16
L_atm                   3.329570e-16
L_parking               8.743831e-16
dtype: float64 price                   1.0
area                    1.0
rooms                   1.0
floor                   1.0
storeys                 1.0
bathroom_count          1.0
SL_opera                1.0
SL_zvartnoc             1.0
SL_central_cemetery     1.0
SL_baghramyan_subway    1.0
SL_shengavit_subway     1.0
L_atm                   1.0
L_parking               1.0
dtype: float64
Index(['price', 'area', 'rooms', 'floor', 'storeys', 'bathroom_count',
       'SL_opera', 'SL_zvartnoc', 'SL_central_cemetery',
       'SL_baghramyan_subway', 'SL_shengavit_subway', 'L_atm', 'L_parking'],
      dtype='object')

In [18]:
data.to_csv("../processed_data/data_scaled.csv",index=False)

In [ ]:
# Need to remove one of the categorical variables for each encoding
data.drop(columns = ["building_type_Other", "condition_Other"])